* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(17, 104, 105);
}

.text-animation {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-27%);
}

/*
.text-animation {
    display: inline-block;
    margin-right: 5px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 5em;
    opacity: 1;
    color: #70e1e2;
    transition: all 4.5s ease;
}

.text-animation {
    margin-right: 0;
}

text-animation {
    opacity: 0;
}

.text-animation.hidden li:nth-child(1) {
    transform: translateX(-200px) translateY(-200px);
}

.text-animation.hidden li:nth-child(2) {
    transform: translateX(20px) translateY(100px);
}

.text-animation.hidden li:nth-child(3) {
    transform: translateX(-150px) translateY(-80px);
}

.text-animation.hidden li:nth-child(4) {
    transform: translateX(10px) translateY(-200px);
}

.text-animation.hidden li:nth-child(5) {
    transform: translateX(-300px) translateY(200px);
}

.text-animation.hidden li:nth-child(6) {
    transform: translateX(20px) translateY(-20px);
}

.text-animation.hidden li:nth-child(7) {
    transform: translateX(30px) translateY(200px);
}

.text-animation.hidden li:nth-child(8) {
    transform: translateX(-200px) translateY(-200px);
}

.text-animation.hidden li:nth-child(9) {
    transform: translateX(20px) translateY(100px);
}

.text-animation.hidden li:nth-child(10) {
    transform: translateX(-150px) translateY(-80px);
}

.text-animation.hidden li:nth-child(11) {
    transform: translateX(10px) translateY(-200px);
}

.text-animation.hidden li:nth-child(12) {
    transform: translateX(-300px) translateY(200px);
}

.text-animation.hidden li:nth-child(13) {
    transform: translateX(20px) translateY(-20px);
}

.text-animation.hidden li:nth-child(14) {
    transform: translateX(30px) translateY(200px);
}

.text-animation.hidden li:nth-child(15) {
    transform: translateX(20px) translateY(-200px);
}

.text-animation.hidden li:nth-child(16) {
    transform: translateX(150px) translateY(00px);
}

.text-animation.hidden li:nth-child(17) {
    transform: translateX(10px) translateY(-80px);
}
*/
